
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongzhi:before { content: "\e60e"; }

.icon-font18:before { content: "\e627"; }

.icon-gongjiaoche:before { content: "\e637"; }

.icon-lianhetuoguan:before { content: "\e633"; }

.icon-changjiantou:before { content: "\e60a"; }

.icon-icon1:before { content: "\e600"; }

.icon-qiapian:before { content: "\e621"; }

.icon-wo1:before { content: "\e614"; }

.icon-zhucejiantou1:before { content: "\e974"; }

.icon-icon-yxj-wodezhangdan:before { content: "\e64e"; }

.icon-message:before { content: "\e612"; }

.icon-liebiao:before { content: "\e605"; }

.icon-dingzhi:before { content: "\e624"; }

.icon-tousu:before { content: "\e652"; }

.icon-tongyong:before { content: "\e808"; }

.icon-lishijilu:before { content: "\e618"; }

.icon-wentibuchong:before { content: "\e6c0"; }

.icon-dingzhiaiche:before { content: "\e6d3"; }

.icon-lianxiwomen:before { content: "\e662"; }

.icon-shijian1:before { content: "\e61d"; }

.icon-zhuzhuangtu:before { content: "\e60c"; }

.icon-shoucang:before { content: "\e65c"; }

.icon-inquiries:before { content: "\e67a"; }

.icon-chaxun:before { content: "\e684"; }

.icon-xiaoxi:before { content: "\e601"; }

.icon-shijian:before { content: "\e602"; }

.icon-fanweiguang-:before { content: "\e6df"; }

.icon-local_play:before { content: "\e69a"; }

.icon-dingwei:before { content: "\e604"; }

.icon-wode:before { content: "\e60f"; }

.icon-baoche:before { content: "\e608"; }

.icon-piao:before { content: "\e8a5"; }

.icon-buhang:before { content: "\e6c7"; }

.icon-icon-test:before { content: "\e613"; }

.icon-shoucang1:before { content: "\e6c5"; }

.icon-shouye:before { content: "\e603"; }

.icon-ft-bus:before { content: "\e734"; }

.icon-changjiantou1:before { content: "\e606"; }

.icon-qidian:before { content: "\e615"; }

.icon-gongjiaozhanpai:before { content: "\e607"; }

.icon-timerIcon:before { content: "\e609"; }

.icon-shoucang2:before { content: "\e636"; }

.icon-jiucuo:before { content: "\e6b6"; }


