*{
	margin: 0;
	padding: 0;
}
body, html{
	width: 100%;
	height: 100%;
}
ul li{
	list-style: none;
}
ul li, span, a, p, img{
	direction: block;
}
.ds-none{
	display: none!important;
}
header{
	background: #25A7FF!important;
}
span.icon-shoucang2{
	color: #FFE826!important;
}
header h1, header a, header button{
	color: #fff!important;
}

/*首页css  sub1.html*/
.index-header{
	width: 100%;
	height: 120px;;
	background: #25A7FF;
	/*border: 1px solid red;*/
}
.index-searchNav{
	height: 120px;;
	padding: 0;
	margin: 0;
}
.index-header-left{
	width: auto;
	float: left;
	color: #fff!important;
}
.index-header-top{
	/*width: 100%;*/
	height: 50px;
	/*float: left;*/
	margin-left: 60px;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.index-searchInput{
	width: 85%;
	height: auto;
	float: left;
	padding: 0 5px;
}
.index-search{
	width: 100%;
	height: 30px;
	background: #7FD2FA;
	border-radius: 5px;
	margin-top: 5px;
	padding: 5px;
	color: #fff;
}
.index-search-L{
	width: 30px;
	height: 30px;
	padding: 0;
	float: left;
	color: #fff;
	font-weight: bold;
}
.index-search-R span{
	font-size: 14px;
	color: #fff;
}
.index-header-bottom{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: auto;
}
.index-header-bottom > div{
	width: 30%;
	float: left;
	margin-left: 3%;
}
.index-header-bottom  div span{
	display: block;
	width: 100%;
	height: auto;
	float: none;
	text-align: center;
	color: #fff;
}
.index-header-bottom  div span:nth-of-type(1) {
	font-size: 30px;
	padding: 0
}
.index-searchIcon{
	margin: 0!important;
	padding: 0!important;
	font-size: 19px!important;
	font-weight: bold;
}
.index-header-topMsg{
	width: 14%;
	height: auto;
	float: right;
	text-align: left;
	color: #fff;
	padding: 0;
}
.index-msg{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: red;
	border: 1px solid red;
	display: block;
	position: relative;
	margin: -22px 0 0 17px;
}
/*慈溪行 首页 index.html样式*/
.index-tab-showPre li{
	height: 80px;
	background: #ccc!important;
	margin: 5px!important;
	width: calc(100% / 4 - 10px)!important;
	border-radius: 5px;
}
.index-tar-li{
	margin: 5px!important;
	width: calc(100% / 4 - 10px)!important;
	padding: 0!important;
	border-radius: 5px;
}
.index-tar-li:nth-of-type(1) {
	background: #1B99F0!important;
}
.index-tar-li:nth-of-type(2) {
	background: #3CBFA0!important;
}
.index-tar-li:nth-of-type(3) {
	background: #F67D48!important;
}
.index-tar-li:nth-of-type(4) {
	background: #AA72D3!important;
}
.index-tar-li:nth-of-type(5) {
	background: #AA72D3!important;
}
.index-tar-li:nth-of-type(6) {
	background: #F67D48!important;
}
.index-tar-li:nth-of-type(7) {
	background: #3CBFA0!important;
}
.index-tar-li:nth-of-type(8) {
	background: #1B99F0!important;
}
.index-tar-li a span, .index-tar-li a div{
	color: #fff!important;
}
/*慈溪行 index.html样式结束*/
/*刷新样式的位置*/
.mui-bar-nav ~ .mui-content .mui-pull-top-pocket{
    top: 210px !important;
}
/*查找公交css  search.html*/
#busNum{
	font-size: 12px;
}
.sub-searchInput{
	float: none!important;
	margin: 0;
	padding: 0!important;
	width: 80%;
	position: absolute;
	left: 45px;
	top: 3px;

}
.sub-searchInput input{
	border: none;
	background: none;
}
.title{
	margin: 20px 15px 7px;
	color: #6d6d72;
	font-size: 15px;
}

/*范围选择 modal样式*/
.area-modal{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;left: 0;
	z-index: 10;
}
.area-modal-content {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 30;
	top: 0;left: 0;
	text-align: center;
}
.area-modal-content-body{
	width: 80%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0 0 5px 2px #CACACA;
	margin: 50% auto;
	background: #fff;
	padding: 10px;
	overflow: hidden;
}
.area-modal-content-bodyTop{
	width: 90%;
	height: 40px;
	margin: auto;
	padding: 10px 0 0 0;
}
.area-modal-content-bodyMiddle{
	margin-top: 60px;
}
.area-modal-content-bodyMiddle-start{
	float:left;
	width: 50px;
	padding-top: 7px;
}
.area-modal-content-bodyMiddle-input{
	float: left;
	width: calc(100% - 100px);
}
.area-modal-content-bodyMiddle-end{
	float:right;
	width: 50px;
	padding-top: 7px;
}
.area-modal-content-bodyBottom{
	width: 90%;
	height: auto;
	margin: auto;
	overflow: hidden;
	padding: 20px 0 0 0;
}
.area-modal-content-bodyBottom-cancel{
	float: left;
	width: 42%;
	height: 40px;
	line-height: 10px;
}
.area-modal-content-bodyBottom-confirm{
	float: right;
	width: 42%;
	height: 40px;
}
.area-modal-dialog{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #737372;
	z-index: 20;
	left: 0;top: 0;
	opacity: 0.9;
}
/*范围选择 modal 样式结束*/
/*范围提示样式*/
.mui-tooltip{
	color: #45AAF3!important;
	margin-top: 0px!important;
	border: none!important;
	display: block!important;
	line-height: 80px!important;
}
/*input 拖动标签样式*/
input[type=range]::-webkit-slider-thumb {
}
/*范围提示样式结束*/
/*范围弹出层modal input样式*/
h5{
    padding-top: 15px;
}

.field-contain label{
    width: auto;
    padding-right: 0;
}

.field-contain input[type='text']{
    width: 40px;
    height: 30px;
    padding: 5px 0;
    float: none;
    text-align: center;
}
/*范围弹出层 modal input 结束*/
/*busTake 附近收藏、附近车站、附近车次 tab + pullrefresh 样式*/
.index-header-bottom div span{
	margin: 0!important;
}
/*下拉刷新样式*/
.mui-bar~.mui-content .mui-fullscreen {
	top: 120px;
	height: auto;
	border: 1px solid red;
}
.mui-pull-top-tips {
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
	top: 94px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.index-tabI a{
	width: 30%!important;
}
/*下拉刷新样式结束*/
/*tab 公交列表样式*/
.busNum{
	width: 80px;
	padding: 12px 0 0 0;
	overflow: hidden;
	/*border: 1px solid red;*/
	float: left;
}
.busNum span{
	display: block;
	margin-right: 10px;
	float: left;
}
.busNum span:nth-of-type(2){
	width: 10px;
	height: 10px;
	margin: 5px 0 0 0;
	border-radius: 50%;
	background: green;
}
.bus-take-tab ul.busNum-ul:nth-of-type(1) {
	margin: 0;
}
.bus-take-tab ul.busNum-ul{
	margin: 10px 0 0 0;
	/*border: 1px solid red;*/
}
.bus-take-tab ul.busNum-ul li a SPAN.iconfont{
	font-size: 25px;
}
.bus-take-tab ul.busNum-ul li:nth-of-type(1) {
	border-top: 1px solid #ccc;
}
.bus-take-tab ul li.busNum-li{
	width: 100%;
	height: auto;
	padding: 12px;
	display: block;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.busNumInfo{
	width: 60%;
	height: auto;
	/*border: 1px solid red;*/
	float: right;
	
}
.busNumInfo-time{
	width: 100%;
	height: auto;
	float: left;
	/*border: 1px solid blue;*/
}
.busNumInfo-time span{
	width: 50%;
	float: left;
	display: block;
	text-align: center;
}
.busNumInfo-time span:nth-of-type(odd) {
	text-align: right;
}
.busNumInfo-time span:nth-of-type(1){
	color: #2EB4F7;
}
.busNumInfo-coll {
	/*border: 1px solid #000;*/
	height: 100%;
}
.busNumInfo-coll span{
	padding: 10px;
	font-size: 20px;
}
.busNumInfo-coll span.icon-shoucang2 {
	color: #FFE826!important;
}
/*列表样式结束*/
/*列表最小高度样式*/
.mui-scroll{
	min-height: 100%;
}
/*列表最小高度结束*/
/*serach.html 样式*/
.route-type{
	margin-top: 10px;
	overflow: hidden;
}
.route-type span{
	display: block;
	width: auto;
	float: left;
	padding-top: 5px;
}
.route-type .mui-radio{
	float: right;
    width: 80px;
    margin: -25px 0 0 0;
    padding: 0;
    display: block;
    position: relative;
    height: 35px;
    overflow: hidden;
}
.route-type .mui-radio label{
	display: inline-block;
    float: right;
    width: 50px;
    padding: 10px 0 0 0;
}
.route-type .mui-radio input{
	right: 50px!important;
}
.search-result-list {
	width: 95%;
	margin: auto;
	border-radius: 5px;
	padding: 0 5px;
}
.search-result-list li{
	font-size: 15px;
	border-bottom: 1px solid #DCDCDF;
}
.search-result-list li:last-child{
	border: none;
}
.search-result-list li span{
	font-size: 20px;
	margin: 0 10px 0 0;
}
.search-result-list li span.serach-li-clear{
	margin: 0;
}
.search-result-list:before, .search-result-list:after, .search-result-list li:after {
	background: none!important;
}
.his-search-list li label{
	font-size: 15px;
}
.his-search-list li.his-search-clearAll{
	text-align: center;
	color: #989898;
}
/*search.html--搜索样式*/
.index-search-content{
	width: 100%;
	height: auto;
	padding: 10px;	
}
.index-search-content .index-search-content-div{
	width: 100%;
	height: 50px;
	background: #fff;
	border-radius: 5px;
	padding: 5px;
}
.index-search-content .index-search-content-div .index-search-content-input{
	width: 85%;
	height: 100%;
	float: left;
	border-right: 1px solid #EFEFEF;
}
.index-search-content .index-search-content-div .index-search-content-input label{
	margin: 0;
	padding: 7px 0;
	width: 30px;
	color: #C4C4C4;
	float: left;
}
.index-search-content .index-search-content-div .index-search-content-input label span{
	font-weight: bold;
}
.index-search-content .index-search-content-div .index-search-content-input input{
	float: left;
	width: calc(100% - 40px);
}
.index-search-content .index-search-content-div .index-search-content-bottom {
	height: 100%;
	margin-left: 85%;
	color: #696969;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
}
/*search.html 样式结束*/
/*noticeMsg.html 样式*/
.index-notice-list li a{
	padding: 5px;
}
.index-notice-list li a span {
	color: #1B99F1;font-size: 30px;
}
.index-notice-list li a div{
	line-height: 45px;
}
/*noticeMsg.html样式结束*/
/*busRouteDetail.html样式*/
.route-detail-top{
	width: 95%;
	height: auto;
	padding: 10px;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
	margin: 15px auto;
}
.route-detail-top-T{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5px;
}
.route-detail-top-T ul li{
	float: left;
	list-style: none;
}
.route-detail-top-T ul li span:nth-of-type(1) {
	color: #5092CA!important;
	font-size: 20px;
}
.route-detail-top-T ul li:last-child span:last-child{
	display: none;
}
.route-detail-top-B{
	width: 100%;
	height: auto;
	font-size: 14px;
	padding: 5px 5px 0 5px;
	color: #8C8C8C;
}
/*页面头部样式结束*/
/*收藏页面样式*/
.mui-control-content {
	background-color: white;
	height: 100%;
}
ul.coll-info-ul li span{
	display: block;
	float: left;
}
ul.coll-info-ul li div.coll-list-all span:nth-of-type(1) {
	width: auto;
	padding: 2px 10px;
	border: 1px solid #3AA6F2;
	border-radius: 5px;
	text-align: center;
	color: #3AA6F2;
	margin: 0 10px 0 0;
}
ul.coll-info-ul li div.coll-list-all  span:nth-of-type(2) {
	padding: 5px 0;
}
ul.coll-info-ul li div.coll-list-icon {
	width: 30px;
	height: auto;
	float: right;
}
ul.coll-info-ul li div.coll-list-all{
	width: calc(100% - 40px);
	overflow: hidden;
}
ul.coll-info-ul li div.coll-list-icon span {
	float: right;
	padding: 5px 0;
}
ul.coll-info-ul li div.coll-list-icon span.icon-shoucang2{
	color: #FCE22E;
}
/*收藏页面样式结束*/
/*站牌信息样式开始*/
#station_info table{
	width: 100%;
	height: auto;
}
#station_info table tr{
	background: #fff;
	border-bottom: 1px solid #ccc;
}
#station_info table tr td{
	text-align: center;
	padding: 10px 0;
}
#station_info table tr td:nth-of-type(1) {
	width: 40%;
	text-align: left;
	padding: 10px;
}
#station_info table tr td span{
	display: block;
	width: 100%;
	text-align: center;
}
#station_info table tr td span.nextS{
	color: #007AFF;
}
#station_info .goStation {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
/*站牌信息样式结束*/
/*loading 样式*/
.loading{
	width: auto;
	height: auto;
	overflow: hidden;
}
.loading img{
	display: block;
	width: 50%;
	margin: 30px auto;
}
/*loaing  样式结束*/
/*登录样式*/
.area {
	margin: 20px auto 0px auto;
}

.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 22%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}

.mui-content-padded {
	margin-top: 25px;
}

.mui-btn {
	padding: 10px;
}

.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
}

.spliter {
	color: #bbb;
	padding: 0px 8px;
}

.oauth-area {
	position: absolute;
	bottom: 20px;
	left: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.oauth-area .oauth-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px 20px;
	/*-webkit-filter: grayscale(100%); */
	border: solid 1px #ddd;
	border-radius: 25px;
}

.oauth-area .oauth-btn:active {
	border: solid 1px #aaa;
}

.oauth-area .oauth-btn.disabled {
	background-color: #ddd;
}