<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<script src="../../js/headHtml.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="busNum">
		<header class="mui-bar mui-bar-nav">
	    	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    	<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">&nbsp;返回</button>
	    	<h1 class="mui-title">搜索更多</h1>
	</header>
	<div class="mui-content">
		<div class="index-search-content">
			<div class="index-search-content-div">
				<div class="index-search-content-input">
					<div class="mui-input-row">
				        <label>
				        	<span class="mui-icon mui-icon-search"></span>
				        </label>
				        <input type="text" v-model="searchMore" id="keyword" name="keyword" autofocus="autofocus" class="mui-input-clear" placeholder="请输入内容" />
				    </div>
				</div>
				<div class="index-search-content-bottom" @click="busInfos(inputType)">搜索</div>
			</div>
		</div>
		<div class="mui-content-businfo">
			<ul class="mui-table-view search-result-list">
				 <li class="mui-table-view-cell" v-for="item in items" @click="busNumInfo(item.name, item.fn)">
				 	<span class="mui-icon mui-icon-location" v-if="item.fn=='place'"></span>
				 	<span class="mui-icon iconfont icon-gongjiaoche" v-if="item.fn=='bus'"></span>
				 	<span class="mui-icon iconfont icon-gongjiaozhanpai" v-if="item.fn=='station'"></span>
				 	{{item.name}}
				 </li>
			</ul>
		</div>
	</div>
	</div>
	</body>
</html>
<script type="text/javascript">
	var app = new Vue({
		el: '#busNum',
		data: {
			items: [],       //查询列表
			searchMore: '',    // 关键字
			inputType: '',   //输入框里的值  类型
			placeType: ''
		},
		mounted() {
			var self = this;
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			mui.plusReady(function() {
				var value = plus.webview.currentWebview().name;
				var type = plus.webview.currentWebview().type;
				self.placeType = plus.webview.currentWebview().placeType;
				self.searchMore = value;
				self.inputType = type;
				self.busInfos(type);
			});

		},
		methods: {
			busNumInfo: function(name, ty) {
				var self = this;
				if(ty == 'bus') {
					mui.openWindow({
						url: 'busRoute.html',
						id: 'busRoute',
						show: {
							duration: 300
						},
						waiting: {
							autoshow: false,
							title: '正在加载...'
						},
						extras: {
							busName: name
						}
					})
				} else if(ty == 'station') {
					mui.openWindow({
						url: 'stationInfo.html',
						id: 'stationInfo',
						show: {
							duration: 300
						},
						waiting: {
							autoshow: false,
							title: '正在加载...'
						},
						extras: {
							name: name
						}
					})
				} else {
					mui.openWindow({
						url: 'busRouteInfo.html',
						id: 'busRouteInfo',
						show: {
							duration: 300
						},
						waiting: {
							autoshow: false,
							title: '正在加载...'
						},
						extras: {
							name: name,
							type: self.placeType
						}
					})
				}
				
			},
			busInfos: function(type) {
				var _type,fn;
				if(type == 'bus') {
					_type = 'busline';
					fn = 'bus';
				} else if(type == 'station') {
					_type = 'bus';
					fn = 'station';
				} else {
					_type = 'poi';
					fn = 'place';
				}
				var self = this,
					keywords = self.searchMore,
					_url;
				_url = "v3/assistant/inputtips?key=e00e7ed74876f674fa2f01bf36f429c8&keywords="+keywords+"&city=宁波&datatype="+_type+"&citylimit=true";
				console.log(_url);
				self.items = [];
				fc.ajax(_url, 'get').done(function(data) {
					data.tips.forEach(function(v, i, a) {
						var obj = {};
						obj.name = v.name;
						obj.fn = fn;
						self.items.push(obj);
					})
				}).fail(function(error) {
					mui.toast('error');
				});
			}
		}
	})
</script>