<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../js/headHtml.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="testId" class="mui-content">
			<header class="mui-bar mui-bar-nav index-searchNav">
			    <div class="index-header">
			    	<div class="index-header-left">
			    		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					 	<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left" style="margin-right: 0;">&nbsp;慈溪行</button>
			    	</div>
			    	<div class="index-header-top">
			    		<div class="mui-input-row mui-search index-searchInput">
			    			<div class="index-search" id="search" @click="indexSearch">
			    				<div class="index-search-L">
			    					<span class="mui-icon mui-icon-search index-searchIcon"></span>
			    				</div>
			    				<div class="index-search-R">
			    					<span>搜索公交线路、车站、地点</span>
			    				</div>
			    			</div>
						</div>
						<div class="index-header-topMsg">
							<span class="mui-icon iconfont icon-message index-top-email" style="font-size: 30px;margin: 5px 0 0 -3px;padding: 0;" @click="noticeMsg"><!--<span class="index-msg"></span>--></span>
						</div>
			    	</div>
			    	<div class="index-header-bottom">
			    		<div @click="userColl">
			    			<span class="mui-icon iconfont icon-shoucang"></span>
			        		<span>收藏</span>
			    		</div>
			    		<div @click="nearMap">
			    			<span class="mui-icon iconfont icon-dingwei"></span>
			        		<span>地图</span>
			    		</div>
			    		<div @click="selectRange">
			    			<span class="mui-icon iconfont icon-fanweiguang-"></span>
			        		<span>范围</span>
			    		</div>
			    	</div>
			    </div>
			</header>
			<div id="slider" class="mui-slider mui-fullscreen bus-take-tab" style="top: 130px;">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll index-tabI" style="width: 100%;background: #fff;">
						<a class="mui-control-item mui-active" href="#item1mobile">
							附近收藏
						</a>
						<a class="mui-control-item" href="#item2mobile">
							附近车站
						</a>
						<a class="mui-control-item" href="#item3mobile">
							附近车次
						</a>
					</div>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view mui-table-view-chevron busNum-ul" v-for="station in nearAllInfo">
									<li :data-name="station.nearStationName" class="mui-table-view-cell mui-media busStation-li">
										<a class="mui-navigate-right">
											<span class="mui-media-object mui-pull-left mui-icon iconfont icon-gongjiaozhanpai"></span>
											<!--<img class="mui-media-object mui-pull-left" src="../images/cbd.jpg">-->
											<div class="mui-media-body" style="height: 30px;line-height: 45px;padding-right: 20px;">
												<div style="float: left;">{{station.nearStationName}}</div>
												<div style="float: right;color: #2EB4F7;">相距</div>
											</div>
											<span class="mui-badge" style="background: none;">{{station.distance}}</span>
										</a>
									</li>
									<li class="busNum-li" v-for="bus in station.nearBuss">
										<div style="width: 40px;height: 40px;float: right;">
											<div class="busNumInfo-coll">
												<span v-show="bus.userColl" :data-id="bus.userColl" class="mui-icon iconfont icon-shoucang2"></span>
												<span v-show="!bus.userColl" class="mui-icon iconfont icon-shoucang" :data-id="bus.userColl"></span>
											</div>
										</div>
										<div style="height: 40px;" :data-name="bus.busName" class="busInfo">
											<div class="busNum">
												<span>{{bus.busName}}</span>
												<span></span>
											</div>
											<div class="busNumInfo">
												<div class="busNumInfo-time">
													<span>距到站</span>
													<span>{{bus.arriveStation}}/{{bus.arriveStationTime}}</span>
													<span>下一辆</span>
													<span>{{bus.nextArriveStation}}/{{bus.nextArriveStationTime}}</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view mui-table-view-chevron busNum-ul">
									<li :data-name="station.nearStationName" class="mui-table-view-cell mui-media busStation-li" v-for="station in nearStationInfo">
										<a class="mui-navigate-right" @click="nearStation">
											<span class="mui-media-object mui-pull-left mui-icon iconfont icon-gongjiaozhanpai"></span>
											<div class="mui-media-body" style="height: 30px;line-height: 45px;padding-right: 20px;">
												<div style="float: left;">{{station.nearStationName}}</div>
												<div style="float: right;color: #2EB4F7;">相距</div>
											</div>
											<span class="mui-badge" style="background: none;">{{station.distance}}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view mui-table-view-chevron busNum-ul">
									<li :data-name="bus.busName" class="busNum-li" v-for="bus in nearBusInfo">
										<div style="width: 40px;height: 40px;float: right;">
											<div class="busNumInfo-coll">
												<span v-show="bus.userColl" :data-id="bus.userColl" class="mui-icon iconfont icon-shoucang2"></span>
												<span v-show="!bus.userColl" class="mui-icon iconfont icon-shoucang" :data-id="bus.userColl"></span>
											</div>
										</div>
										<div style="height: 40px;" class="busInfo" :data-name="bus.busName">
											<div class="busNum">
												<span>{{bus.busName}}</span>
												<span></span>
											</div>
											<div class="busNumInfo">
												<div class="busNumInfo-time">
													<span>距到站</span>
													<span>{{bus.arriveStation}}/{{bus.arriveStationTime}}</span>
													<span>下一辆</span>
													<span>{{bus.nextArriveStation}}/{{bus.nextArriveStationTime}}</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--modal-->
			<div class="area-modal mui-hidden">
				<div class="area-modal-content">
					<div class="area-modal-content-body">
						<div class="area-modal-content-bodyTop">仅显示此范围内的站牌和车次</div>
						<div class="mui-input-row mui-input-range field-contain area-modal-content-bodyMiddle">
				            <div class="area-modal-content-bodyMiddle-start">
				                200m
				            </div>
				            <div class="area-modal-content-bodyMiddle-input">
				                <input type="range" id='field-range' value="600" min="200" max="2000" step="100" />
				            </div>
				            <div class="area-modal-content-bodyMiddle-end">
				                2000m
				            </div>
				        </div>
				        <div class="mui-button-row area-modal-content-bodyBottom">
				        	<button class="mui-btn-block area-modal-content-bodyBottom-cancel" @click="cancel">取消</button>
				        	<button class="mui-btn-primary area-modal-content-bodyBottom-confirm" @click="confirm">确定</button>
				        </div>
					</div>
				</div>
				<div class="area-modal-dialog"></div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	var app = new Vue({
		el: '#testId',
		data: {
			deceleration: '',
			nearAllInfo: '',         //附近收藏
			nearStationInfo: '',         //附近车站
			nearBusInfo: '',         //附近车次
			nearDistance: '600m'     // 附近半径
		},
		mounted: function() {
			var self = this;
			this.nearAllInfo = busTakeData;
			this.nearStationInfo = busTakeDataStation;
			this.nearBusInfo = busTakeDataBus;
			$("#field-range").bind('input', function() {
				var htm = $(".mui-tooltip").html();
				self.selectDistance();
			});
			self.deceleration = mui.os.ios?0.003:0.0009;
			(function($) {
				//阻尼系数
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration:self.deceleration
				});
				$.ready(function() {
					//循环初始化所有下拉刷新，上拉加载。
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						$(pullRefreshEl).pullToRefresh({
							down: {
								callback: function() {
									var _self = this;
									setTimeout(function() {
										_self.endPullDownToRefresh();
									}, 1000);
								}
							}
						});
					});
				});
				setTimeout(function() {
					//选项卡 下拉刷新添加点击事件
					mui('.busNum-ul').on("tap", '.busInfo', function() {
						var _name = this.getAttribute('data-name');
						self.nearBus(_name);
					});
					mui('.busNum-ul').on("tap", '.busStation-li', function() {
						var _name = this.getAttribute('data-name');
						self.nearStation(_name);
					});
					mui('.busNumInfo-coll').on("tap", 'span', function() {
						var _name = this.getAttribute('data-id');
						self.busUserColl(this, _name);
					})
				}, 500)
			})(mui);
			
		},
		methods: {
			//公交车收藏、取消收藏
			busUserColl: function(index, coll) {
				$(index).attr('style', 'display: none').siblings().attr('style', 'display: block');
			},
			//搜索
			indexSearch: function() {
				mui.openWindow({
					url: 'search.html',
					id: 'search',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					},
					extras: {
						name: 'id'
					}
				})
			},
			//收藏
			userColl: function() {
				mui.openWindow({
					url: 'userCollList.html',
					id: 'userCollList',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					}
				})
			},
			//地图
			nearMap: function() {
				var distance = this.nearDistance.split('m')[0];
				console.log(distance);
				mui.openWindow({
					url: 'nearMap.html',
					id: 'nearMap',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					},
					extras: {
						dist: distance
					}
				})
			},
			//范围
			selectRange: function() {
//				alert(this.nearDistance);
				$(".area-modal").removeClass('mui-hidden');
				$(".mui-tooltip").removeClass('mui-hidden').html(this.nearDistance);
			},
			//选择范围
			selectDistance: function() {
				var self = this;
				this.nearDistance = $("#field-range").val() + 'm';
				
				setTimeout(function() {$(".mui-tooltip").html(self.nearDistance);}, 50)
			},
			//关闭area modal
			cancel: function() {
				$(".area-modal").addClass('mui-hidden');
			},
			//area modal 确定按钮
			confirm: function() {
				$(".area-modal").addClass('mui-hidden');
			},
			//公告
			noticeMsg: function() {
				mui.openWindow({
					url: 'noticeMsg.html',
					id: 'noticeMsg',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					}
				})
			},
			//附近站牌
			nearStation: function(name) {
				mui.openWindow({
					url: 'stationInfo.html',
					id: 'stationInfo',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					},
					extras: {
						name: name
					}
				})
			},
			//附近公交车
			nearBus: function(id) {
				console.log(id);
				mui.openWindow({
					url: 'busRoute.html',
					id: 'busRoute',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					},
					extras: {
						busName: id
					}
				})
			}
		}
	})
</script>
