<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../js/headHtml.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="complaint">
			<header class="mui-bar mui-bar-nav">
			    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			    <button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">&nbsp;返回</button>
			    <h1 class="mui-title">投诉</h1>
			    <button id="telephone" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">电话投诉</button>
			</header>
			<div class="complaint-content">
				<textarea v-model="complaint_content" placeholder="请输入投诉的内容"></textarea>
				<input type="text" placeholder="请输入您的姓名" v-model="user_name" />
				<input type="text" placeholder="请输入您的联系方式" v-model="user_phone" readonly="readonly" />
			</div>
			<div class="mui-button-row complaint-bottom">
				<button class="mui-btn-primary" @click="submitComplaint">提交</button>
			</div>
		</div>
	</body>
</html>
<style type="text/css">
	.complaint-content{
		width: 90%;
		height: auto;
		margin: 54px auto;
		background: none;
	}
	.complaint-content textarea{
		width: 100%;
		height: 300px;
	}
	.complaint-content input{
		width: 100%;
		height: 40px;
		margin-top: 10px;
		color: #ccc;
	}
	.complaint-bottom button{
		width: 50%;
		height: 40px;
	}
</style>
<script type="text/javascript">
	var app = new Vue({
		el: '#complaint',
		data: {
			complaint_content: '',    //投诉内容
			user_phone: '18279132664',       //投诉人联系方式
			userId: '',
			user_name: ''
		},
		mounted: function() {
			this.userId = localStorage.getItem('userId');
			document.getElementById("telephone").addEventListener('tap',function(){
	            var btnArray=['拨打','取消'];
	            var phone="12328";
	            mui.confirm('是否拨打'+phone+'?','提示',btnArray,function(e){
	                if(e.index == 0){
	                    plus.device.dial(phone,false);
	                }
	            });
	        });
		},
		methods: {
			//提交按钮
			submitComplaint: function() {
				var self = this;
				var param = {
					user: self.userId,
					message: self.complaint_content,
					phone_number: self.user_phone,
					status: null,
					name: self.user_name
				};
				if(self.complaint_content == '') {
					mui.toast('请输入投诉内容');
					return;
				}
				var conInfo = {
					url: 'traffic/complaint/',
					type: 'post',
					dataType: 'text',
					param: param
				};
				fc.commonAjax(conInfo, function(data) {
					self.complaint_content = '';
					mui.toast(data.results.message);
				})
			}
		}
	})
</script>