<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<script src="../../js/headHtml.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="index-vue">
		<header class="mui-bar mui-bar-nav">
		    <h1 class="mui-title">慈溪行</h1>
		</header>
		<div id="slider" class="mui-slider" style="height: 300px;margin-top: 44px;">
			<div class="mui-slider-group mui-slider-loop">
			<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#">
					<img src="../../images/banner1.jpg">
				</a>
			</div>
			<!-- 第一张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="../../images/banner1.jpg">
				</a>
			</div>
			<!-- 第二张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="../../images/muwu.jpg">
				</a>
			</div>
			<!-- 第三张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="../../images/cbd.jpg">
				</a>
			</div>
			<!-- 第四张 -->
			<div class="mui-slider-item">
				<a href="#">
					<img src="../../images/yuantiao.jpg">
				</a>
			</div>
			<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="#">
					<img src="../../images/banner1.jpg">
				</a>
			</div>
		</div>
		<div class="mui-slider-indicator">
			<div class="mui-indicator mui-active"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
			<div class="mui-indicator"></div>
		</div>
		</div>
		<div class="mui-content" style="padding: 0;">
			<ul class="mui-table-view mui-grid-view mui-grid-9 index-tab-showPre" v-if="showUl">
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"></li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"></li>
		    </ul>
			<ul id="index-tab-show" class="mui-table-view mui-grid-view mui-grid-9" v-else v-show="!showUl">
				<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-2 index-tar-li" v-for="itemBar in index_tabBar">
				    <a :id="itemBar.bar_id" @click="indexBarIn(itemBar.bar_href, itemBar.bar_id)">
				        <span :class="itemBar.bar_icon"></span>
				        <div class="mui-media-body" v-cloak>{{itemBar.bar_name}}</div>
				    </a>
				</li>
			</ul>

		</div>
	</div>
	</body>
</html>
<style type="text/css">
	html, body{overflow: hidden;}
	#slider div img{
		height: 100%;
	}
</style>
<script type="text/javascript">
	var app = new Vue({
		el: '#index-vue',
		data: {
			showUl: true,
			index_tabBar: []
		},
		mounted: function() {
			var slider = mui("#slider"),
				self = this;
			slider.slider({
				interval: 3000
			});
			this.init();
		},
		methods: {
			//初始化
			init: function() {
				var self = this;
				this.index_tabBar = [];
				this.index_tabBar = indexTabData;
				this.$nextTick(function() {
					mui.toast('渲染完成');
					setTimeout(function() {self.showUl = false;}, 200);
				})
			},
			//模块进入
			indexBarIn: function(url, id) {
				mui.openWindow({
					url: url,
					id: id,
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					}
				})
			}
		}
	})
</script>
