<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<script src="../../js/headHtml.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="busNum">
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			    <div class="mui-input-row sub-searchInput">
			        <input type="text" v-model="search_input" id="keyword" name="keyword" autofocus="autofocus" class="mui-input-clear" placeholder="请输入内容" @input="busInfos" />
			    </div>
		</header>
		<div class="mui-content">
			<div class="mui-content-businfo" v-if="busInfoshow">
				<div v-if="busMoreTipDiv">
					<div class="title">
						线路
					</div>
					<ul class="mui-table-view">
						 <li class="mui-table-view-cell" v-for="item in itemsBus" @click="busNumInfo(item.name)">
						 	<span class="mui-icon mui-icon-location"></span>
						 	{{item.name}}
						 </li>
						 <li class="mui-table-view-cell" @click="bus_placeMore('bus')">{{busMoreTip?'查看更多':'无'}}</li>
					</ul>
				</div>
				<div v-if="stationMoreTipDiv">
					<div class="title">
						站牌
					</div>
					<ul class="mui-table-view">
						 <li class="mui-table-view-cell" v-for="item in itemsStations" @click="stationNumInfo(item.name)">
						 	<span class="mui-icon mui-icon-location"></span>
						 	{{item.name}}
						 </li>
						 <li class="mui-table-view-cell" @click="bus_placeMore('station')">{{stationMoreTip?'查看更多':'无'}}</li>
					</ul>
				</div>
				<div v-if="placeMoreTipDiv">
					<div class="title route-type">
						<span>线路规划</span>
						<div class="mui-input-row mui-radio">
							<label>始发地</label>
							<input name="radio1" type="radio" checked="checked">
						</div>
						<div class="mui-input-row mui-radio">
							<label>始发地</label>
							<input name="radio1" type="radio">
						</div>
					</div>
					<ul class="mui-table-view">
						 <li class="mui-table-view-cell" v-for="item in itemsPlace" @click="placeNumInfo(item.name)">
						 	<span class="mui-icon mui-icon-location"></span>
						 	{{item.name}}
						 </li>
						 <li class="mui-table-view-cell" @click="bus_placeMore('place')">{{placeMoreTip?'查看更多':'无'}}</li>
					</ul>
				</div>

			</div>
			<div class="mui-content-noinfo" v-else>
				可以搜索公交
			</div>
		</div>
	</div>
	</body>
</html>
<style type="text/css">
	/*地图输入提示隐藏*/
.amap-sug-result{
	height: 0!important;
	overflow: hidden!important;
	border: none!important;
}
.route-type{
	overflow: hidden;
}
.route-type span{
	display: block;
	width: auto;
	float: left;
}
.route-type .mui-radio{
	float: right;
	width: 120px;
	margin: -25px 0 0 0;
	padding: 0;
}
</style>
<script type="text/javascript">
	var app = new Vue({
		el: '#busNum',
		data: {
			itemsBus: [],
			itemsStations: [],
			itemsPlace: [],
			search_input: '',
			busMoreTip: true,
			stationMoreTip: true,
			placeMoreTip: true,
			busMoreTipDiv: false,
			stationMoreTipDiv: false,
			placeMoreTipDiv: false,
			busInfoshow: false,
			nativeWebview: '',
			imm: '',
			InputMethodManager: '',
			content: ''

		},
		mounted() {
			var self = this;
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			mui.plusReady(function() {
//				self.initNativeObjects();
//				self.showSoftInput();
			});
		},
		methods: {
			//公交详情
			busNumInfo: function(bus) {
				mui.openWindow({
					url: 'busRoute.html',
					id: 'busRoute',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					},
					extras: {
						name: bus
					}
				})
			},
			//站台详情
			stationNumInfo: function(station) {
				mui.openWindow({
					url: 'stationInfo.html',
					id: 'stationInfo',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					},
					extras: {
						name: station
					}
				})
			},
			//路线规划详情
			placeNumInfo: function() {

			},
			initNativeObjects: function() {   //调起手机键盘
				var self = this;
				if (mui.os.android) {
					var main = plus.android.runtimeMainActivity();
					var Context = plus.android.importClass("android.content.Context");
					InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
					self.imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
				} else {
					self.nativeWebview = plus.webview.currentWebview().nativeInstanceObject();
				}
			},
			showSoftInput: function() {
				var self = this;
				if (mui.os.android) {
					self.imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
				} else {
					self.nativeWebview.plusCallMethod({
						"setKeyboardDisplayRequiresUserAction": false
					});
				}
				setTimeout(function() {
					var inputElem = document.querySelector('input');
					inputElem.focus();
					inputElem.parentNode.classList.add('mui-active'); //第一个是search，加上激活样式
				}, 200);
			},
			busInfos: function() {
				var self = this,
					keywords = self.search_input,
					_url;
				_url1 = "v3/assistant/inputtips?key=e00e7ed74876f674fa2f01bf36f429c8&keywords="+keywords+"&city=宁波&datatype=busline&citylimit=true";
				_url2 = "v3/assistant/inputtips?key=e00e7ed74876f674fa2f01bf36f429c8&keywords="+keywords+"&city=宁波&datatype=bus&citylimit=true";
				_url3 = "v3/assistant/inputtips?key=e00e7ed74876f674fa2f01bf36f429c8&keywords="+keywords+"&city=宁波&datatype=poi&citylimit=true";
				if(!keywords) {
					self.busInfoshow = false;
				} else {
					self.busInfoshow = true;
				}
				self.itemsBus = [];
				self.itemsStations = [];
				self.itemsPlace = [];
				//公交查询
				fc.ajax(_url1, 'get').done(function(data) {
					console.log(data.tips.length);
					data.tips.forEach(function(v, i, a) {
						//公交信息
						var objB = {};
							objB.name = v.name;
							var len = self.itemsBus.length;
							if(len < 3) {
								self.itemsBus.push(objB);
							}
					})
					self.typeListShow();
				}).fail(function(error) {
					alert('error');
				});
				//站点查询
				fc.ajax(_url2, 'get').done(function(data) {
					console.log(data.tips.length);
					data.tips.forEach(function(v, i, a) {
						//公交信息
						var objS = {};
						objS.name = v.name;
						var len = self.itemsStations.length;
						if(len < 3) {
							self.itemsStations.push(objS);
						}
					})
					self.typeListShow();
				}).fail(function(error) {
					alert('error');
				});
				//地名查询
				fc.ajax(_url3, 'get').done(function(data) {
					console.log(data.tips.length);
					data.tips.forEach(function(v, i, a) {
						//公交信息
						var objP = {};
						objP.name = v.name;
						var len = self.itemsPlace.length;
						if(len < 3) {
							self.itemsPlace.push(objP);
						}
					});
					self.typeListShow();

				}).fail(function(error) {
					alert('error');
				});


			},
			//公交、站牌、地名是否显示
			typeListShow: function() {
				var self = this;
				if(!self.itemsBus.length) {
					self.busMoreTip = false;
					self.busMoreTipDiv = false;
				} else {
					self.busMoreTip = true;
					self.busMoreTipDiv = true;
				}
				if(!self.itemsStations.length) {
					self.stationMoreTip = false;
					self.stationMoreTipDiv = false;
				} else {
					self.stationMoreTip = true;
					self.stationMoreTipDiv = true;
				}
				if(!self.itemsPlace.length) {
					self.placeMoreTip = false;
					self.placeMoreTipDiv = false;
				} else {
					self.placeMoreTip = true;
					self.placeMoreTipDiv = true;
				}
			},
			//更多
			bus_placeMore: function(ty) {
				var content = $("#keyword").val();
				mui.openWindow({
					url: 'busMore.html',
					id: 'busMore',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					},
					extras: {
						name: content,
						type: ty
					}
				})
			}
		}
	})
</script>