<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<script src="../../js/headHtml.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="station_info">
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">&nbsp;返回</button>
		    <h1 class="mui-title">{{stationName}}</h1>
		</header>
		<div class="mui-content">
			<table border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr v-for="(item,i) in stationBus">
						<td>{{item.name}}</td>
						<td>
							<span class="nextS">距到站</span>
							<span>下一辆</span>
						</td>
						<td>
							<span>{{item.time1}}</span>
							<span>{{item.time2}}</span>
						</td>
						<td>
							<div @click="cancelColl(i)">
								<span v-if="item.isColl" class="mui-icon iconfont icon-shoucang2"></span>
								<span v-else class="mui-icon iconfont icon-shoucang"></span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="mui-button-row goStation">
				<button class="mui-btn-primary" @click="go_station">前往该站牌</button>
			</div>
		</div>
	</div>
	</body>
</html>
<script type="text/javascript">
	var app = new Vue({
		el: '#station_info',
		data: {
			stationName: '',
			stationBus: []
		},
		mounted: function() {
			var self = this;
			this.init();
			mui.plusReady(function() {
				var name = plus.webview.currentWebview().name;
				self.stationName = name;
			});
			this.stationBus = [{
				name: '118路',
				time1: '1站/10分钟',
				time2: '2站/20分钟',
				isColl: true
			},{
				name: '128路',
				time1: '1站/10分钟',
				time2: '2站/20分钟',
				isColl: true
			},{
				name: '138路',
				time1: '1站/10分钟',
				time2: '2站/20分钟',
				isColl: true
			}]
		},
		methods: {
			init: function() {
			},
			//前往该站台
			go_station: function() {
				var self = this;
				mui.openWindow({
					url: 'busMap.html',
					id: 'busMap',
					show: {
						duration: 300
					},
					waiting: {
						autoshow: false,
						title: '正在加载...'
					},
					extras: {
						name: self.stationName
					}
				})
			},
			//取消收藏
			cancelColl: function(i) {
				this.stationBus[i].isColl =! this.stationBus[i].isColl;
			}
		}

	})
</script>
