<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="../../js/headHtml.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
	<div id="collList" style="height: 100%;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">&nbsp;返回</button>
			<h1 class="mui-title">收藏</h1>
		</header>
		<div class="mui-content" style="height: 100%;">
			<ul class="mui-table-view coll-info-ul">
				<li class="mui-table-view-cell" v-for="(item,i) in userCollList">
					<div class="coll-list-icon" @click="cancelColl(i)">
						<span v-if="item.isColl" class="mui-icon iconfont icon-shoucang2"></span>
						<span v-else class="mui-icon iconfont icon-shoucang"></span>
					</div>
					<div class="coll-list-all">
						<span>{{item.type}}</span>
						<span>{{item.name}}</span>
					</div>
				</li>
			</ul>
		</div>

	</div>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el: '#collList',
			data: {
				userCollList: [{
					name: '118路',
					type: '车次',
					isColl: true
				},{
					name: '128路',
					type: '车次',
					isColl: true
				},{
					name: '158路',
					type: '车次',
					isColl: true
				},{
					name: '138路',
					type: '车次',
					isColl: true
				}]
			},
			mounted: function() {
				mui.init({
					swipeBack: false
				});
			},
			methods: {
				cancelColl: function(i) {
					this.userCollList[i].isColl = !this.userCollList[i].isColl;
				}
			}
		})
	</script>
		<script>
			(function($) {
				$('.mui-scroll-wrapper').scroll({
					indicators: true //是否显示滚动条
				});
			})(mui);
		</script>

	</body>

</html>